<div class="responsive-grid">
  <mat-card *ngFor="let product of data" class="product-card">
    <img
      mat-card-image
      class="product-image"
      [src]="product.image"
      [alt]="product.title"
    />
    <mat-card-header>
      <mat-card-title>{{ product.title }}</mat-card-title>
      <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="product-rating">
        <div class="rating-value">
          <star-rating
            staticColor="ok"
            [labelText]="' ' + product.rating.rate"
            [readOnly]="true"
            [rating]="product.rating.rate"
            [showHalfStars]="true"
          ></star-rating>
        </div>
        <div>({{ product.rating.count }})</div>
      </div>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <p class="product-price">{{ product.price | currency }}</p>
      <button
        mat-button
        mat-raised-button
        color="primary"
        class="add-to-cart-btn"
        (click)="onAddToCartProduct(product)"
      >
        Add to Cart
      </button>
    </mat-card-actions>
  </mat-card>
</div>
